<!DOCTYPE html>
<html>
{% include html-header-typography.html %}
<body>
  {% include header.html %}  
  <div class="main container">
  	<article>
  		<h1>Typography</h1>

  		<div class="col-group">
  			<div class="col-1-3 summary">
  				<ul class="categories">
  					{% for item in site.categories.typography %}
  				        {% if page.title == item.title %}
  				        <li class="current">{{ item.title }}</li>
  				        {% else %}
  				            <li><a href="{{ link_path }}{{ item.url }}">{{ item.title }}</a>
  				        {% endif %}
  					{% endfor %}
  				</ul>
  				<p>Fonts used: {{ page.font }}</p>
  			</div>
  			{{ content }}
  		</div>
  		
  	</article>
  </div>
  {% include footer.html %}
</body>
</html>
